.ms-btn{
    background-color: #019160;
    color: #fff;
    border-radius: 4px;
    border: none;
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    width: max-content;
}

.ms-btn:hover {
    background-color: #2fbe8e;
}

.ms-btn:active {
    background-color: #01b075;
}


.filter-toolbar {
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ddd;
    border: 1px solid #bbb;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    margin: 2px;
}

.filter-toolbar:hover {
    background-color: #fff;
}

.filter-toolbar:active {
    background-color: #01b075;
}

.icon-user {
    background-image: url(../../asset/icon/add.png);
    margin-right: 8px;
    display: inline-block;
}

.icon-refresh{
    background-image: url(../../asset/icon/refresh.png);
    background-size: 16px 16px;
}

.icon-delete {
    background-image: url(../../asset/icon/delete.png);
    background-size: 16px 16px;
}

.icon-duplicate {
    background-image: url(../../asset/icon/duplicate.png);
    background-size: 32px 32px;
}

.icon-save {
    background-image: url(../../asset/icon/save-32.png);
    margin-right: 8px;
    display: inline-block;
}